<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- <bean id="harry"
	class="com.springinaction.springidol.Magican">
	
	<property name="magicBox" ref="magicBox"/>
	<property name="magicWords" value="Bippity boppity boo"/>
	</bean>
	
	<bean id="magicBox"
		class="com.springinaction.springidol.MagicBoxImpl">
    <replaced-method
    name="getContents"
    replacer="tigerReplacer"/>
    </bean>
    
    <bean id="tigerReplacer"
    class="com.springinaction.springidol.TigerReplacer"/>
-->
<bean id ="guitar"
	class="com.springinaction.springidol.Guitar"/>

<bean id="stevie"
	class="com.springinaction.springidol.Instrumentalist">
	
	<lookup-method name ="getInstrument" bean="guitar"/>
	<property name="song" value="Greensleeves"/>
	
	</bean>
</beans>
